<div class='row' style='height:50px;'>

</div>
<div class='row'>
	<div class="col-xs-1">
		<div class='row'>
			<div class="panel panel-primary">
				<div class="panel-heading">
				    <h3 class="panel-title">Life</h3>
				</div>
				<div class="panel-body">
				    <h2>{{life}}</h2>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="panel panel-primary">
				<div class="panel-heading">
				    <h3 class="panel-title">Score</h3>
				</div>
				<div class="panel-body">
				    <h2>{{score}}</h2>
				</div>
			</div>
		</div>
		<div class='row'>
			<button class="btn btn-success" ng-click='help()'>Help</button>
		</div>
	</div>
	<div class="col-xs-9"><canvas processing="sketch"></canvas></div>
	<div class="col-xs-2">
		<h2>{{ levelName }}</h2><br/>
		<h3>{{playerLogin}}</h3> <br/>
		Top 5 scores: <br/>
		<table class="table table-bordered table-hover">
			<tr ng-repeat='score in highScores | orderBy:"-score"'>
				<td>{{score.userName}}</td>
				<td>{{score.score}}</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Ballwars</h3>
    </div>
    <div class="modal-body">
        This is a game where you are the green ball.<br/>
        You move by either using the arrow keys, or the wasd keys.<br/>
        You need food to live. Food is the small dark ball. Eat it.<br/>
        Red balls are trying to kill you. Avoid them or lose a life.<br/>
        Drop a hole to kill the red balls. Do this with the space bar.<br/>
        This will give you points. Points are good. <br/>
        Dropping holes makes you lose life, so make sure to eat.<br/>
        Kill 5 red balls without losing a life, and a bomb appears.<br/>
        If you reach the bomb before it disappears, you kill all the red balls.<br/>
    </div>
    <div class="modal-footer">
        Click anywhere outside this to return to ballwars.
    </div>
</script>